{% load static %}
{% load i18n %}
{% load account %}
{% include 'common/header.html' %}

<section>
	<div id="agileits-sign-in-page" class="sign-in-wrapper">
		<div class="agileinfo_signin">
    		<h3>{% trans 'Password Reset Email Sent.' %}</h3>
            {% if user.is_authenticated %}
    	        {% include "account/already_logged_in.html" %}
   	        {% else %}
   		        <p class="forgot_password_info">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes. <br> You will be redirected to <a href="/accounts/login">Sign In</a> page in 10 seconds.</p>
   		        <script>
   		 	        setTimeout("location.href = '{% url 'account_login' %}';",10000);
		        </script>
   	        {% endif %}
        </div>
    </div>
</section>

{% include 'common/footer.html' %}