{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% include 'common/header.html' %}
<section>
	<div id="agileits-sign-in-page" class="sign-in-wrapper">
		<div class="agileinfo_signin">
            <h3>{% trans 'Password Reset' %}</h3>
            {% if user.is_authenticated %}
                {% include "account/already_logged_in.html" %}
            {% else %}
                <p class="forgot_password_info" >{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" class="container-fluid text-center" id="forgot_password_form" action="{% url 'account_reset_password' %}"> {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-outline-primary " type="submit" value="{% trans 'Reset My Password' %}" />
                </form>
                <br/>
                <p class="forgot_password_info">Please contact us if you have any trouble resetting your password.</p>
            {% endif %}
        </div>
    </div>
</section>

{% include 'common/footer.html' %}