{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% include 'common/header.html' %}
<section>
    <div id="agileits-sign-in-page" class="sign-in-wrapper">
        <div class="agileinfo_signin">
            <h3>Sign Up</h3>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}"> {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                     <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <input type="submit" value="Sign up" />
            </form>
            <h6>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</h6>
        </div>
    </div>
</section>

{% include 'common/footer.html' %}