{% load static %}
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<title>Kleider</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="rental dress, designer dress, dresses, kleider, priya patel, wedding dresses, anarkali, jumpsuit, bff wedding, sari, lehenga, tshirts, shirts, traditional wear, ethnic wear, formal wear, casual wear" />
    <!-- meta tags -->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta tags -->
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}'><!-- bootstrap-CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-select.css" %}'><!-- bootstrap-select-CSS -->
<link rel="stylesheet" href='{% static "css/style.css" %}' type="text/css" media="all" /><!-- style.css -->
<link rel="stylesheet" href='{% static "css/flexslider.css" %}' type="text/css" media="screen" /><!-- flexslider-CSS -->
<link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}' /><!-- fontawesome-CSS -->
<link rel="stylesheet" href='{% static "css/menu_sideslide.css"%}' type="text/css" media="all"><!-- Navigation-CSS -->
    <!--//fonts-->
<style>
.dropbtn {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
 }

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown1-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown1-content a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown1-content {
  display: block;
}

</style>

    <!-- js -->
<script type="text/javascript" src='{% static "js/jquery.min.js" %}'></script>

<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src='{% static "js/bootstrap.js" %}'></script>
<script src='{% static "js/bootstrap-select.js" %}'></script>
<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
  });
</script>
<!-- language-select -->
<script type="text/javascript" src='{% static "js/jquery.leanModal.min.js" %}'></script>
<link href='{% static "css/jquery.uls.css" %}' rel="stylesheet"/>
<link href='{% static "css/jquery.uls.grid.css" %}' rel="stylesheet"/>
<link href='{% static "css/jquery.uls.lcd.css" %}' rel="stylesheet"/>
<!-- Source -->
<script src='{% static "js/jquery.uls.data.js" %}'></script>
<script src='{% static "js/jquery.uls.data.utils.js" %}'></script>
<script src='{% static "js/jquery.uls.lcd.js" %}'></script>
<script src='{% static "js/jquery.uls.languagefilter.js" %}'></script>
<script src='{% static "js/jquery.uls.regionfilter.js" %}'></script>
<script src='{% static "js/jquery.uls.core.js" %}'></script>
<script>
	$( document ).ready( function() {
		$( '.uls-trigger' ).uls( {
			onSelect : function( language ) {
				var languageName = $.uls.data.getAutonym( language );
				$( '.uls-trigger' ).text( languageName );
			},
			quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
		} );
	} );
</script>
<!-- //language-select -->
<!-- responsive tabs -->
	<link rel="stylesheet" type="text/css" href='{% static "css/easy-responsive-tabs.css" %}' />
    <script src='{% static "js/easyResponsiveTabs.js" %}'></script>
<!-- /responsive tabs -->
</head>

<body>
<script src='{% static "js/jquery.min.js" %}' type="text/javascript"></script>
<script src='{% static "js/monetization.js" %}' type="text/javascript"></script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
	// format, zoneKey, segment:value, options
	_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
</script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
  	}
})();
</script><script>
	(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "../../../../../../vdo.ai/core/w3layouts/vdo.ai.js");
	</script><!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125810435-1');
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../../../../www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-30027142-1', 'w3layouts.com');
  ga('send', 'pageview');
</script>
<body>
		<!-- Navigation -->
		<div class="agiletopbar">
			<div class="wthreenavigation">
				<div class="menu-wrap">
				<nav class="menu">
					<div class="icon-list">
						<a href="{% url 'traditional' %}"><span>Traditional Wear</span></a>
						<a href="{% url 'formal' %}"><span>Formal Wear</span></a>
						<a href="{% url 'casual' %}"><span>Casual Wear</span></a>
						<a href="{% url 'ethnic' %}"><span>Ethnic Wear</span></a>
						<a href="{% url 'sports' %}"><span>Sports Wear</span></a>
						<a href="{% url 'western' %}"><span>Western Wear</span></a>
						<a href="{% url 'tshirts' %}"><span>T-shirts</span></a>
						<a href="{% url 'kids' %}"><span>Kids</span></a>
						<a href="{% url 'jumpsuits' %}"><span>Jumpsuits</span></a>
						<a href="{% url 'denim' %}"><span>Denim</span></a>
					</div>
				</nav>
				<button class="close-button" id="close-button">Close Menu</button>
			</div>
			<button class="menu-button" id="open-button"> </button>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- //Navigation -->
	<!-- header -->
	<header>
		<div class="w3ls-header"><!--header-one-->
			<div class="w3ls-header-right">
				<ul>
                    <li class="dropdown head-dpdn">
						<a href='{% url "contact" %}' aria-expanded="false"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a>
					</li>
					<li class="dropdown head-dpdn">
						<a href='{% url "help" %}'><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a>
					</li>
                    {% if not request.user.is_authenticated %}
                    <li class="dropdown head-dpdn">
						<a href="{% url "account_login" %}" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Sign In</a>
					</li>
                    {% else %}
					    <div class="dropdown1">
							<button class="dropbtn"><i class="fa fa-user-secret" aria-hidden="true"></i> {{ request.user.username }}
							</button>
							<div class="dropdown1-content">
								<a href="{% url 'profile' %}"><i class="fa fa-user-secret" aria-hidden="true"></i> My Profile </a>
								<a href="{% url 'products' %}"><i class="fa fa-shopping-bag" aria-hidden="true"></i> My Product </a>
								<a href="{% url 'account_logout' %}"><i class="fa fa-user" aria-hidden="true"></i> Signout </a>
							</div>
						</div>
					{% endif %}
					<li class="dropdown head-dpdn">
						<a href="{% url 'products' %}" aria-expanded="false"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Products </a>
					</li>
        <div class="clearfix"> </div>
		</div>
		<div class="container">
			<div class="agile-its-header">
				<div class="logo">
					<h1><a href="{% url 'home' %}">Kleider</a></h1>
				</div>
				<div class="agileits_search">
					<form action="{% url 'search1' %}" method="get">
						<input name="product" type="text" placeholder="Product Name" required="" />
						<select id="agileinfo_search" name="category" required="">

							<option value="Traditional">Traditional Wear</option>
							<option value="Formal">Formal Wear</option>
							<option value="Casual">Casual Wear</option>
							<option value="Ethnic">Ethnic Wear</option>
							<option value="Sports">Sports Wear</option>
							<option value="Western">Western Wear</option>
							<option value="T-shirts">T-shirts</option>
							<option value="Kids">Kids</option>
							<option value="Jumpsuits">Jumpsuits</option>
                            <option value="Denim">Denim</option>
						</select>
						<button type="submit" class="btn btn-default" aria-label="Left Align">
							<i class="fa fa-search" aria-hidden="true"> </i>
						</button>
					</form>
				<a class="post-w3layouts-ad" href='{% url 'create' %}'>Post Free Ad</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</header>
	<!-- //header -->