{%load static %}
{% include 'common/header.html' %}
 	<!-- breadcrumbs -->
	<div class="w3layouts-breadcrumbs text-center">
		<div class="container">
			<span class="agile-breadcrumbs"><a href='{% url "home" %}'><i class="fa fa-home home_1"></i></a> / <span>Help</span></span>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!---728x90--->
{% if messages %}
    <ul class="messages">
		{% for message in messages %}
		    <div class="alert alert-{{ message.tags}} alert-dismissable" role = "alert">
				<button type = "button" class="close" data-dismiss="alert" aria-label="Close">
				   <span aria-hidden="true">&times;</span>
			    </button>
                 {{ message }}
		    </div>
	    {% endfor %}
	</ul>
{% endif %}

	<!-- Faq -->
	<div class="faq main-grid-border">
		<div class="container">
			<div class="wthree-help">
				<h3>write your things</h3>
				<form action="{% url 'feedback' %}" method="post"> {% csrf_token %}
					{{ form.write }}
					<input type="submit" value="submit">
				</form>


			</div>
			<!---728x90--->
